@use '../abstracts/variables' as *;

.driver-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.driver-card {
    background-color: $color-surface;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        border-color: $color-primary;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    &__number {
        font-size: 2.5rem;
        font-weight: 900;
        font-family: 'Arial', sans-serif; // Idealmente una fuente racing
        opacity: 0.8;
    }

    &__image-container {
        width: 100%;
        height: 250px; // Altura fija para uniformidad
        overflow: hidden;
        background-color: #1f1f27; //#2b2b36Fondo por si la imagen tarda en cargar
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover; // La magia: recorta la imagen para llenar el espacio sin deformar
        object-position: top center; // Enfocar la cara
        transition: transform 0.5s ease;
    }

    // Efecto Zoom al pasar el mouse sobre la TARJETA entera
    &:hover &__image {
        transform: scale(1.1); // Zoom suave
    }

    &__info {
        padding: 1.5rem;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: $color-text;
    }

    &__team {
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-text-dim;
    }

    // Estilo para la banderita
    .flag-icon {
        width: 30px; // Tamaño controlado
        height: auto;
        border-radius: 4px; // Bordes redondeados suaves
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); // Sombrita para profundidad
        display: block; // Para que se comporte bien en flexbox
    }

    // Ajustamos el contenedor del header para que quede alineado
    .driver-card__header {
        // ... estilos anteriores ...
        // Asegúrate de que tenga esto para alinear número y bandera:
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.teamLogo {
    width: 48px;
    height: 48px;
    padding: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;

    img {
        width: 36px;
        height: 36px;
    }
}