// Colores Oficiales
$color-bg: #15151e;       // Fondo oscuro
$color-surface: #2b2b36;  // Tarjetas#2b2b36
$color-primary: #e10600;  // Rojo F1
$color-text: #ffffff;
$color-text-dim: #aeb4bb;

// Colores de Equipos
$team-redbull: #061D42;
$team-ferrari: #DC0000;
$team-mclaren: #FF8700;

// Breakpoints
$mobile-width: 768px;

// Mixin para facilitar media queries
@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}